<div class="pure-menu pure-menu-horizontal header desktop pure-g">
	<div class="pure-u-1-3">
		<ul class="pure-menu-list header-left">
			<li class="pure-menu-item"><a href="{{ site.github.url}}/store" class="pure-menu-link">Store</a></li>
			<li class="pure-menu-item"><a href="{{ site.github.url }}/tour" class="pure-menu-link">Tour</a></li>
			<li class="pure-menu-item"><a href="{{ site.github.url }}/music" class="pure-menu-link">Music</a></li>
		</ul>
	</div>

	<div class="pure-u-1-3">
		<h1 style="font-size:0;">Diet Cig<a style="line-height:75px;" href="{{ site.github.url }}/" class="pure-menu-heading center-image"><img src="{{ site.github.url }}/images/logo.png" align="middle" width="165" height="63" alt="Diet Cig Logo"/></a></h1>
	</div>

	<div class="pure-u-1-3">
		<ul class="pure-menu-list header-right">
			<li class="pure-menu-item"><a href="{{ site.github.url }}/about" class="pure-menu-link">About</a></li>
			<li class="pure-menu-item"><a href="{{ site.github.url }}/videos" class="pure-menu-link">Videos</a></li>
			<li class="pure-menu-item"><a href="{{ site.github.url }}/contact" class="pure-menu-link">Contact</a></li>
			<li class="pure-menu-item"><a href="https://www.patreon.com/dietcig" class="pure-menu-link" target="_blank">Patreon</a></li>
		</ul>
	</div>
</div>

<div class="custom-wrapper pure-g header mobile" id="menu">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="pure-menu">
			<h1 style="font-size:0;">Diet Cig<a style="line-height:85px;" href="{{ site.github.url }}/" class="pure-menu-heading center-image"><img src="{{ site.github.url }}/images/logo.png" align="middle" width="165" height="63"/></a></h1>
			<a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="pure-menu pure-menu-horizontal custom-can-transform">
			<ul class="pure-menu-list">
				<li class="pure-menu-item"><a href="{{ site.github.url}}/store" class="pure-menu-link">Store</a></li>
				<li class="pure-menu-item"><a href="{{ site.github.url }}/tour" class="pure-menu-link">Tour</a></li>
				<li class="pure-menu-item"><a href="{{ site.github.url }}/music" class="pure-menu-link">Music</a></li>
				<li class="pure-menu-item"><a href="{{ site.github.url }}/about" class="pure-menu-link">About</a></li>
				<li class="pure-menu-item"><a href="{{ site.github.url }}/videos" class="pure-menu-link">Videos</a></li>
				<li class="pure-menu-item"><a href="{{ site.github.url }}/contact" class="pure-menu-link">Contact</a></li>
				<li class="pure-menu-item"><a href="https://www.patreon.com/dietcig" class="pure-menu-link" target="_blank">Patreon</a></li>
			</ul>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-1-3">
	</div>
</div>
