<div class="pure-menu pure-menu-horizontal splash-header">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="splash-link" href="https://www.facebook.com/dietcigmusic/"><span class="footer-symbol symbol">facebook</span></a></li>
		<li class="pure-menu-item"><a class="splash-link" href="https://twitter.com/dietcig/"><span class='footer-symbol symbol'>twitterbird</span></a></li>
		<li class="pure-menu-item"><a class="splash-link" href="https://www.youtube.com/c/DietCig"><span class='footer-symbol symbol'>youtube</span></a></li>
		<li class="pure-menu-item"><a class="splash-link" href="https://www.instagram.com/dietcigmusic/"><span class='footer-symbol symbol'>instagram</span></a></li>
	</ul>
</div>
