html { /* Set box-sizing to border-box to preserve sanity */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img { /* Hello images, welcome to 2016 */
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 0;
}

strong { font-weight: 900; }
