// Header Code
.header { background-color: #4059B3; }
.header .header-left { float: right; }
.header .header-left a {
	padding-right: 0;
	padding-left: 50px;
}
.header .header-right {	float: left; }
.header .header-right a {
	padding-left: 0;
	padding-right: 50px;
}
.header a { color: #fff; }
.header a:hover { background: none; }
.header .pure-menu-list { margin-top: 20px; }
.header .center-image {
	width: 100%;
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}

// Footer Code
footer {
	text-align: center;
	background-color: #4059B3;
}
.footer-symbol {
	font-size: 50px;
	color: #EE9792;
}
.footer-link {
	text-decoration: none;
}

// All Page Code
.page-wrapper {
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#ECE9E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ECE9E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ECE9E6, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ECE9E6, #FFFFFF); /* Standard syntax */
}
.page-wrapper img {
	margin-bottom: 20px;
}

.linen-background {
	margin-top: 40px;
	text-align: center;
	background-image: url($githubUrl + "/images/background-texture.png");
	background-size: cover;
	min-height: 440px;
}

.linen-background h1 {
	margin-top: 20px;
}

// Home Page Code
.home-wrapper {
	background-image: url($githubUrl + "/images/home-splash.jpg");
	background-position: calc(8% - 50px) 8%;
	background-size: cover;
	height: 480px;
}
